*, *::before, *::after { box-sizing: inherit }

$primary-color: hsl(185, 75%, 39%);
$secondary-color: hsl(229, 23%, 23%);
$choice-color: hsl(227, 10%, 46%);
$neutral-color: hsl(0, 0%, 59%);

$font-light: 400;
$font-bold: 700;

@mixin flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin responsive-card {
    @media screen and (min-width: 250px) and (max-width: 768px) {
        padding: 1em 1.5em 1em 1.5em;
    }
}

@mixin responsive-layerone {
    @media screen and (min-width: 250px) and (max-width: 768px) {
        left: -40em;
    }
}

@mixin responsive-layertwo {
    @media screen and (min-width: 250px) and (max-width: 768px) {
        right: -40em;
    }
}